.page-header
  = link_to study_paths_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_study_path_path(@study_path), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show study_path

%dl.dl-horizontal
  %dt Name:
  %dd= @study_path.name
