/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.text-section{
  width: 75%;
  font-size: 18px;
  font-weight: 100;
  margin-bottom:40px;
}
.text-section h3{
  font-weight: 400;
}
.red{
  background-color: #f2dede;
}

.filter-form{
  margin-bottom: 10px;
}
.filter-dropdown{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color:white;
  background-image:url(caret-arrowhead-facing-down_318-36499-2.jpeg);
  *background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
  background-position: right;
  background-size: 8%;
  background-repeat: no-repeat;

  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;

  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  white-space: nowrap;
  *background-image: none;
  *border: 1px solid transparent;
  border-radius: 4px;
}

.logo{
  font-size: 28px;
  font-weight: 600;
}
.logo a{
  color: white;
}
.logo a:hover{
  text-decoration: none;
  color: lightgrey;
}
